:root {
    overflow: hidden;
}
* {
    box-sizing: border-box;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.background {
    background: linear-gradient(-45deg, #ee7652ad, #e73c7ebd, #23a5d5bd, #23d5abc1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
body {
    background-color: #000;
    margin: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    perspective: 5000px;
    perspective-origin: bottom;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}
@keyframes driveby {
    0% {left: 150vw;}
    100% {left: -100vw;}
}
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes spotlight {
    0% {rotate: 45deg; transform: translateZ(-10vw);}
    50% {rotate: -45deg; transform: translateZ(-10vw)}
    100% {rotate: 45deg; transform: translateZ(-10vw);}
}
@keyframes tilt {
    0% {rotate: 15deg;}
    50% {rotate: -15deg;}
    100% {rotate: 15deg;}
}
@keyframes text {
    0% {text-shadow:
        -15px -15px 20px rgb(0, 255, 255),
        -14px -14px rgb(10, 240, 255),
        -13px -13px rgb(20, 230, 255),
        -12px -12px rgb(30, 220, 255),
        -11px -11px rgb(40, 210, 255),
        -10px -10px rgb(50, 200, 255),
        -9px -9px rgb(60, 190, 255),
        -8px -8px rgb(70, 180, 255),
        -7px -7px rgb(80, 170, 255),
        -6px -6px rgb(90, 160, 255),
        -5px -5px rgb(100, 150, 255),
        -4px -4px rgb(110, 140, 255),
        -3px -3px rgb(120, 130, 255),
        -2px -2px rgb(130, 120, 255),
        -1px -1px rgb(140, 110, 255),
        0px 0px 20px rgb(150, 100, 255),
        0px 0px rgb(150, 100, 255),
        1px 1px rgb(160, 90, 255),
        2px 2px rgb(170, 80, 255),
        3px 3px rgb(180, 70, 255),
        4px 4px rgb(190, 60, 255),
        5px 5px rgb(200, 50, 255),
        6px 6px rgb(210, 40, 255),
        7px 7px rgb(220, 30, 255),
        8px 8px rgb(230, 20, 255),
        9px 9px rgb(240, 10, 255),
        10px 10px rgb(245, 5, 255),
        11px 11px rgb(250, 0, 255),
        12px 12px rgb(255, 0, 255),
        13px 13px rgb(255, 0, 255),
        14px 14px rgb(255, 0, 255),
        15px 15px 20px rgb(255, 0, 255);}
    25% {text-shadow:
        -15px 15px 20px rgb(0, 255, 255),
        -14px 14px rgb(10, 240, 255),
        -13px 13px rgb(20, 230, 255),
        -12px 12px rgb(30, 220, 255),
        -11px 11px rgb(40, 210, 255),
        -10px 10px rgb(50, 200, 255),
        -9px 9px rgb(60, 190, 255),
        -8px 8px rgb(70, 180, 255),
        -7px 7px rgb(80, 170, 255),
        -6px 6px rgb(90, 160, 255),
        -5px 5px rgb(100, 150, 255),
        -4px 4px rgb(110, 140, 255),
        -3px 3px rgb(120, 130, 255),
        -2px 2px rgb(130, 120, 255),
        -1px 1px rgb(140, 110, 255),
        0px 0px 20px rgb(150, 100, 255),
        0px 0px rgb(150, 100, 255),
        1px -1px rgb(160, 90, 255),
        2px -2px rgb(170, 80, 255),
        3px -3px rgb(180, 70, 255),
        4px -4px rgb(190, 60, 255),
        5px -5px rgb(200, 50, 255),
        6px -6px rgb(210, 40, 255),
        7px -7px rgb(220, 30, 255),
        8px -8px rgb(230, 20, 255),
        9px -9px rgb(240, 10, 255),
        10px -10px rgb(245, 5, 255),
        11px -11px rgb(250, 0, 255),
        12px -12px rgb(255, 0, 255),
        13px -13px rgb(255, 0, 255),
        14px -14px rgb(255, 0, 255),
        15px -15px 20px rgb(255, 0, 255);}
    50% {text-shadow:
        15px 15px 20px rgb(0, 255, 255),
        14px 14px rgb(10, 240, 255),
        13px 13px rgb(20, 230, 255),
        12px 12px rgb(30, 220, 255),
        11px 11px rgb(40, 210, 255),
        10px 10px rgb(50, 200, 255),
        9px 9px rgb(60, 190, 255),
        8px 8px rgb(70, 180, 255),
        7px 7px rgb(80, 170, 255),
        6px 6px rgb(90, 160, 255),
        5px 5px rgb(100, 150, 255),
        4px 4px rgb(110, 140, 255),
        3px 3px rgb(120, 130, 255),
        2px 2px rgb(130, 120, 255),
        1px 1px rgb(140, 110, 255),
        0px 0px 20px rgb(150, 100, 255),
        0px 0px rgb(150, 100, 255),
        -1px -1px rgb(160, 90, 255),
        -2px -2px rgb(170, 80, 255),
        -3px -3px rgb(180, 70, 255),
        -4px -4px rgb(190, 60, 255),
        -5px -5px rgb(200, 50, 255),
        -6px -6px rgb(210, 40, 255),
        -7px -7px rgb(220, 30, 255),
        -8px -8px rgb(230, 20, 255),
        -9px -9px rgb(240, 10, 255),
        -10px -10px rgb(245, 5, 255),
        -11px -11px rgb(250, 0, 255),
        -12px -12px rgb(255, 0, 255),
        -13px -13px rgb(255, 0, 255),
        -14px -14px rgb(255, 0, 255),
        -15px -15px 20px rgb(255, 0, 255);}
    75% {text-shadow:
        15px -15px 20px rgb(0, 255, 255),
        14px -14px rgb(10, 240, 255),
        13px -13px rgb(20, 230, 255),
        12px -12px rgb(30, 220, 255),
        11px -11px rgb(40, 210, 255),
        10px -10px rgb(50, 200, 255),
        9px -9px rgb(60, 190, 255),
        8px -8px rgb(70, 180, 255),
        7px -7px rgb(80, 170, 255),
        6px -6px rgb(90, 160, 255),
        5px -5px rgb(100, 150, 255),
        4px -4px rgb(110, 140, 255),
        3px -3px rgb(120, 130, 255),
        2px -2px rgb(130, 120, 255),
        1px -1px rgb(140, 110, 255),
        0px 0px 20px rgb(150, 100, 255),
        0px 0px rgb(150, 100, 255),
        -1px 1px rgb(160, 90, 255),
        -2px 2px rgb(170, 80, 255),
        -3px 3px rgb(180, 70, 255),
        -4px 4px rgb(190, 60, 255),
        -5px 5px rgb(200, 50, 255),
        -6px 6px rgb(210, 40, 255),
        -7px 7px rgb(220, 30, 255),
        -8px 8px rgb(230, 20, 255),
        -9px 9px rgb(240, 10, 255),
        -10px 10px rgb(245, 5, 255),
        -11px 11px rgb(250, 0, 255),
        -12px 12px rgb(255, 0, 255),
        -13px 13px rgb(255, 0, 255),
        -14px 14px rgb(255, 0, 255),
        -15px 15px 20px rgb(255, 0, 255);}
    100% {text-shadow:
        -15px -15px 20px rgb(0, 255, 255),
        -14px -14px rgb(10, 240, 255),
        -13px -13px rgb(20, 230, 255),
        -12px -12px rgb(30, 220, 255),
        -11px -11px rgb(40, 210, 255),
        -10px -10px rgb(50, 200, 255),
        -9px -9px rgb(60, 190, 255),
        -8px -8px rgb(70, 180, 255),
        -7px -7px rgb(80, 170, 255),
        -6px -6px rgb(90, 160, 255),
        -5px -5px rgb(100, 150, 255),
        -4px -4px rgb(110, 140, 255),
        -3px -3px rgb(120, 130, 255),
        -2px -2px rgb(130, 120, 255),
        -1px -1px rgb(140, 110, 255),
        0px 0px 20px rgb(150, 100, 255),
        0px 0px rgb(150, 100, 255),
        1px 1px rgb(160, 90, 255),
        2px 2px rgb(170, 80, 255),
        3px 3px rgb(180, 70, 255),
        4px 4px rgb(190, 60, 255),
        5px 5px rgb(200, 50, 255),
        6px 6px rgb(210, 40, 255),
        7px 7px rgb(220, 30, 255),
        8px 8px rgb(230, 20, 255),
        9px 9px rgb(240, 10, 255),
        10px 10px rgb(245, 5, 255),
        11px 11px rgb(250, 0, 255),
        12px 12px rgb(255, 0, 255),
        13px 13px rgb(255, 0, 255),
        14px 14px rgb(255, 0, 255),
        15px 15px 20px rgb(255, 0, 255);}
}
@keyframes articles {
    0% {color: #0ff;
        text-shadow: 
            2px 2px 5px #fff,
            2px 2px #fff,
            0px 0px 5px #0ff;}
    50% {color: #fff;
         text-shadow: 
            2px 2px 5px #0ff,
            2px 2px #0ff,
            0px 0px 5px #fff;}
    100% {color: #0ff;
         text-shadow: 
            2px 2px 5px #fff,
            2px 2px #fff,
            0px 0px 5px #0ff;}
}

.building1 {
    position: absolute;
    transform-style: preserve-3d;
    animation: driveby 15s linear 0s infinite;
    top: 45%;
    left: -40%;
    transform: translateZ(-1000px);
}
.building1__face {
    position: absolute;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.building1__face--front  { 
    background: rgb(0, 180, 180); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(  0deg) translateZ(5vw);
}
.building1__face--right  { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY( 90deg) translateZ(5vw);
}
.building1__face--back   { 
    background: rgb(0, 100, 100);
    width: 10vw;
    height: 75vh;
    transform: rotateY(180deg) translateZ(5vw);
}
.building1__face--left   { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(-90deg) translateZ(5vw);
}
.building1__face--top    { 
    background: rgb(0, 138, 138);
    width: 10vw;
    height: 10vw;
    transform: rotateX( 90deg) translateZ(5vw);
}

.building2 {
    position: absolute;
    transform-style: preserve-3d;
    top: 40%;
    animation: driveby 15s linear 5s infinite;
    left: -50vw;
}
.building2__face {
    position: absolute;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.building2__face--front  { 
    background: rgb(0, 180, 180); 
    width: 10vw;
    height: 75vh;
    transform: translateZ(5vw);
}
.building2__face--right  { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(90deg) translateZ(5vw);
}
.building2__face--back   { 
    background: rgb(0, 100, 100);
    width: 10vw;
    height: 75vh;
    transform: rotateY(180deg) translateZ(5vw);
}
.building2__face--left   { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(-90deg) translateZ(5vw);
}
.building2__face--top    { 
    background: rgb(0, 138, 138);
    width: 10vw;
    height: 10vw;
    transform: rotateX(90deg) translateZ(5vw);
}

.building3 {
    position: absolute;
    transform-style: preserve-3d;
    animation: driveby 10s linear 10s infinite;
    top: 40%;
    left: -50%;
    transform: translateZ(-500px);
}
.building3__face {
    position: absolute;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.building3__face--front  { 
    background: rgb(0, 180, 180); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(  0deg) translateZ(5vw);
}
.building3__face--right  { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY( 90deg) translateZ(5vw);
}
.building3__face--back   { 
    background: rgb(0, 131, 131);
    width: 10vw;
    height: 75vh;
    transform: rotateY(180deg) translateZ(5vw);
}
.building3__face--left   { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(-90deg) translateZ(5vw);
}
.building3__face--top    { 
    background: rgb(0, 138, 138);
    width: 10vw;
    height: 10vw;
    transform: rotateX( 90deg) translateZ(5vw);
}

.building4 {
    left: -50vw;
    position: absolute;
    transform-style: preserve-3d;
    top: 40%;
    animation: driveby 9s linear 11s infinite;
}
.building4__face {
    position: absolute;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.building4__face--front  { 
    background: rgb(0, 180, 180); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(  0deg) translateZ(5vw);
}
.building4__face--right  { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY( 90deg) translateZ(5vw);
}
.building4__face--back   { 
    background: rgb(0, 131, 131);
    width: 10vw;
    height: 75vh;
    transform: rotateY(180deg) translateZ(5vw);
}
.building4__face--left   { 
    background: rgb(0, 115, 115);
    width: 10vw;
    height: 75vh;
    transform: rotateY(-90deg) translateZ(5vw);
}
.building4__face--top    { 
    background: rgb(0, 138, 138);
    width: 10vw;
    height: 10vw;
    transform: rotateX( 90deg) translateZ(5vw);
}

.building5 {
    position: absolute;
    transform-style: preserve-3d;
    top: 30%;
    animation: driveby 30s linear 0s infinite;
    transform: translateZ(-5000px);
    z-index: -1;
}
.building5__face {
    position: absolute;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.building5__face--front  { 
    background: rgb(0, 180, 180); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(0deg) translateZ(5vw);
}
.building5__face--right  { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY( 90deg) translateZ(5vw);
}
.building5__face--back   { 
    background: rgb(0, 131, 131);
    width: 10vw;
    height: 75vh;
    transform: rotateY(180deg) translateZ(5vw);
}
.building5__face--left   { 
    background: rgb(0, 115, 115); 
    width: 10vw;
    height: 75vh;
    transform: rotateY(-90deg) translateZ(5vw);
}
.building5__face--top    { 
    background: rgb(0, 138, 138);
    width: 10vw;
    height: 10vw;
    transform: rotateX( 90deg) translateZ(5vw);
}

::selection {
    background-color: rgb(117, 0, 168);
}
h1 {
    text-align: center;
    font-size: 4vmax;
    color: transparent;
    perspective: 200px;
    animation: text 10s linear infinite, tilt 10s ease-in-out infinite;
}
h2, h3, h4 {
    text-align: center;
    color: #0ff;
    animation: articles 5s ease-in-out infinite;
}

.underglow {
    width: 100vw;
    position: absolute;
    top: 100vh;
    box-shadow: 0 0 150px 100px magenta;
}
.lights {
    position: absolute;
    filter: blur(5px);
    bottom: 10vh;
    left: 50vw;
    animation: driveby 54s linear 0s infinite;
    transform: translateZ(-1000px);
}
.spotlight {
    background: linear-gradient(transparent, whitesmoke);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 10vw;
    height: 75vh;
    transform-origin: 50% 100%;
    animation: spotlight 15s ease 0s infinite;
    transform-style: preserve-3d;
    transform: translateZ(-1000px);
}
a {
    z-index: 2;
}
p {
    color: #fff;
    text-shadow: 0px 0px 2px #fff;
}
article {
    background-color: rgba(13, 13, 13, 0.75);
    backdrop-filter: blur(15px);
    padding: 10px;
    margin: 25px;
    border-radius: 25px;
    z-index: 2;
}
section {
    overflow-y: auto;
    max-height: 75vh;
    scrollbar-color: #363636 transparent;
}
::-webkit-scrollbar {
    border-radius: 25px;
}
@media screen and (min-width: 750px) {
    article {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}
header {
    align-items: center;
}
header ul {
    animation: tilt 16s ease-in-out infinite;
}
header li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 3vmax;
    font-weight: bold;
    color: transparent;
    animation: text 16s linear infinite;
    
}
header li a:hover {
    background-color: #ffffff;
}
nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    align-items: center;
}
li {
    align-items: center;
    display: inline;
}
iframe {
    background-color: transparent;
}
@keyframes move {
   0% {
      mask: linear-gradient(to top,
     #000 1.5% , #0000 2%   , #0000 5%   , #000 5.5% 
    ,#000 7.5% , #0000 8%   , #0000 10.6%, #000 11.1% 
    ,#000 13.6%, #0000 14.1%, #0000 16.3%, #000 16.8%
    ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
    ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
    ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
    ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
    ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
    ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
   ) no-repeat;
   }
   50% {
      mask: linear-gradient(to top,
     #000 1.5% , #0000 2%  , #0000 5%   , #000 5.5% 
    ,#000 7.5% , #0000 8%   , #0000 10.6%, #000 11.1% 
    ,#000 13.6%, #0000 14.1%, #0000 16.3%, #000 16.8%
    ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
    ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
    ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
    ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
    ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
    ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
   ) no-repeat;
   }
   100% {
     mask: linear-gradient(to top,
     #000 1.5% , #0000 2%   , #0000 5%   , #000 5.5% 
    ,#000 7.5% , #0000 8%   , #0000 10.6%, #000 11.1% 
    ,#000 13.6%, #0000 14.1%, #0000 16.3%, #000 16.8%
    ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
    ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
    ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
    ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
    ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
    ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
   ) no-repeat;
   }
}

#sun {
    z-index: -1;
    top: 20%;
    left: 80%;
   display: grid;
   grid-template: 1fr / 1fr;
   inline-size: min(80vmin, 400px);
   aspect-ratio: 1;
   border-radius: 50%;
   font-size: 0;
   position: absolute;
   --bg: #f9124f;
   filter: drop-shadow(0 0 min(20px, 5vmin) var(--bg));
   background: radial-gradient(
      circle at center, 
      var(--bg) 0, var(--bg) 53%, transparent 60%
   );
}

#sun::after {
   content: "";
   grid-area: 1 / 1;
   background: linear-gradient(#fcc22f, #f945e5);
   border-radius: inherit;
   
   mask: linear-gradient(to top,
     #000 1.5% , #0000 2%   , #0000 5%   , #000 5.5% 
    ,#000 7.5% , #0000 8%   , #0000 10.6%, #000 11.1% 
    ,#000 13.6%, #0000 14.1%, #0000 16.3%, #000 16.8%
    ,#000 19.8%, #0000 20.3%, #0000 22.1%, #000 22.6% 
    ,#000 26.1%, #0000 26.6%, #0000 28%  , #000 28.5% 
    ,#000 32.5%, #0000 33%  , #0000 34%  , #000 34.5% 
    ,#000 39%  , #0000 39.5%, #0000 40.1%, #000 40.6% 
    ,#000 46.6%, #0000 47.1%, #0000 47.5%, #000 48% 
    ,#000 53.5%, #0000 54%  , #0000 54.2%, #000 0
   ) no-repeat;
   animation: move 5s linear 1s infinite;
}
.pyramid {
  position: absolute;
  bottom: -5%;
  left: 50vh;
  width: 20vh;
  height: 20vh;
  transform-style: preserve-3d;
  transform: rotateY(326deg) rotateX(2deg) rotateZ(359deg);
  animation: driveby 54s linear 0s infinite;
  transform: translateZ(-1000px);
}
.side {
  width: 0;
  height: 0;
  position: absolute;
  border: 10vh solid transparent;
  border-bottom: 20vh solid rgb(0, 180, 180);
  border-top: 0px;
}
.one {
  transform: rotateX(30deg);
  transform-origin: 0 0;
}
.two {
  transform-origin: 10vh 0;
  transform: rotateY(90deg) rotateX(-30deg);
  border-bottom-color: rgb(0, 115, 115);
}
.three {
  transform-origin: 10vh 0;
  transform: rotateY(270deg) rotateX(-30deg);
  border-bottom-color: rgb(0, 115, 115);
}
.four {
  transform-origin: 10vh 0;
  transform: rotateY(0) rotateX(-30deg);
  border-bottom-color: rgb(0, 115, 115);
}